* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
header {
    background: #ffffff;
    height: 137px;
}
.container01{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11rem;
        text-align: center;
        font-size: 15px;
        padding: 15px 0px;
    }
.container02 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(359deg, #3269bb, #78757500);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    border-radius: 50px;
    margin: 0px 10px;
    margin-top: 105px;
    border: 2px solid;
}
.container02 .navbar ul {
    list-style: none;
}
.container02 .navbar ul li {
    position: relative;
    float: left;
}
.container02 .navbar ul li a {
    font-size: 15px;
    padding: 25px 15px;
    color: rgb(0, 0, 0);
    display: block;
}
.container02 .navbar ul li a:hover {
    color: #0a37ff;
    box-shadow: none;
}
.container02 .navbar ul li a:hover {
    color: #ffffff;
}
.container02 .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200;
    background: linear-gradient(359deg, #3269bb, #78757500);
    display: none;
}
.container02 .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid #0a37ff;
}
.container02 .navbar ul li:focus-within > ul,
.container02 .navbar ul li:hover > ul {
    display: initial;
}
#menu-bar {
    display: none;
}
.container02 label {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media(max-width:990px){
    header {
        background: linear-gradient(359deg, #3269bb, #78757500);
    }
    i {
        color: #000;
    }
    .container02 {
        padding: 10px;
        margin: 0;
        border-radius: 0;
    }
    .container01 {
        margin-top: 33px;
        gap: 0rem;
        font-size: 10px;
        padding-top: 40px;
    }

    .container02 label {
        display: initial;
    }

    .container02 .navbar {
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: linear-gradient(180deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
        border-top: 1px solid rgb(0, 0, 0);
        display: none;
    }

    .container02 .navbar ul li {
        width: 100%;
    }

    .container02 .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .container02 .navbar ul li ul li {
        background: linear-gradient(0deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .menu {
        display: flex;
        align-items: baseline;
    }

 }
 /*Header Fim*/

 .container03 {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-around;
    padding-top: 60px;
    text-align: center;
    background: linear-gradient(359deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
}
.arthur {
    width: 230px;
    border-radius: 50%;
    height: 230px;
    border: 3px solid;
}
.jj {
    padding-bottom: 10px;
}
.foto {
    transition: all 0.5s;
    cursor: pointer;
}
.foto:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.redes {
    color: #000;
}
.redes :hover {
    color: #fff;
}
.guilherme {
    padding-top: 10px;
}
.projetos {
    width: 500px;
}
@media(max-width:990px) {
    .container03 {
        font-size: 12px;
        flex-direction: column;
        gap: 1rem;
        padding-top: 15px;
        background: linear-gradient(181deg, #3269bb, #78757500);
    }
    .arthur {
        width: 50px;
        height: 50px;
        border: 1px solid
    }
    .projetos {
        width: auto;
     }
     .guilherme {
        padding-top: 1px;
    }
}
/*Sessão 02*/

.container04 {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
 }   
.mouse_scroll {
    display: block;
    margin: 32px auto;
    width: 24px;
    height: 100px;
    cursor: pointer;
}
.m_scroll_arrows{
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}
.unu{
    margin-top: 1px;
}
.unu, .doi, .trei{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}
.unu{
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;    
    animation-direction: alternate;
    animation-delay: alternate;
}      
.doi{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;    
    animation-delay: .2s;
    animation-direction: alternate;    
    margin-top: -6px;
}
.trei{
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;   
    animation-delay: .3s;
    animation-direction: alternate;   
    margin-top: -6px;
}     
.mouse {
height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid #000000f7;
    top: 170px;
}      
.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: rgb(0, 0, 0);
    position: relative;    
    height: 1px;
    width: 1px;
    border: 2px solid rgb(0, 0, 0);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}      
.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}     
@-webkit-keyframes mouse-wheel{
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }  
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
      }
@-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
}
@-o-keyframes mouse-wheel {      
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
}
@keyframes mouse-wheel {     
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
}      
@-webkit-keyframes mouse-scroll {      
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {      
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
    }
@-o-keyframes mouse-scroll {      
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes mouse-scroll {      
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@media(max-width:990px) {
    .container04 {
        background: #fff;
        height: 80px;
    }
    .mouse {
        height: 30px;
        width: 20px;
    }
    .setas {
        display: none;
    }
}
/*Conainer 05*/
.container05 {
    background: linear-gradient(0deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%)); 
    background-image:url(https://i.pinimg.com/564x/e9/06/f6/e906f699735dfac8c9c5f8724f62ec2d.jpg); 
    background-repeat:no-repeat; 
    background-position: center top; 
    background-attachment:fixed; 
    background-size:cover;
}
.interreses {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-align: center;
    justify-content: space-around;
}
.iconees {
    width: 48px;
    height: 48px;
}
@media(max-width:990px) {
    .interreses {
        font-size: 14px;
    }
}
@media(max-width:375px) {
    .interreses {
        font-size: 13px;
    }
} 

/*Conainer 06*/
.container06 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 20vh;
}
.h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #000000;
    animation: glow 5s ease forwards;
}
div.progressBar {
    width: 350px;
    height: 2px;
    background-color: #fff;
    position: relative;
}
div.progressBar span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    filter: drop-shadow(0 0 10px #000000);
    animation: loading 5s linear infinite;
}
@keyframes loading {
    0% {
        width: 0%;
    }

    20% {
        width: 50%;
    }

    80% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}
@keyframes glow {
    0%,95% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #00ff0d;
    }
    
}
@media(max-width:990px) {
    .container06 {
        height: 10vh;
        background: linear-gradient(359deg, #3269bb, #78757500);
    }
    .h2 {
        font-size: 25px;
    }
    div.progressBar {
        width: 221px;
    }
}
/*Sessão 02*/
.container06 {
    background: linear-gradient(0deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
}
.container07 {
    background: linear-gradient(180deg, rgb(50 105 187 / 57%), rgb(255 255 255 / 0%));
 }
.portfolio-cards {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    gap: 5rem;
}
.espaço :hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
img {
    width: 300px;
    height: 150px;
}
@media(max-width:990px) {
    .portfolio-cards {
        flex-direction: column;
        padding-left: 40px;
    padding-right: 40px;
        gap: 5rem;
    }
    img {
        width: 300px;
        height: 125px;
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;    
    background: #ffffff;
    border-top: 2px solid;
 }
 @media(max-width:990px) {
    footer  {
        gap: 1rem;
    }
    .container08 {
        display: none;
    }
 }
 /*Container 08*/
.scrolltop {
    outline: none;
    border: 0;
    background: linear-gradient(359deg, #3269bb, #78757500);
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 80px;
    box-shadow:  0 1px 6px 2px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,00.6);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
 }
 .scrolltop.active {
    opacity: 1;
    visibility: visible;
}
 .scrolltop .seta {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    rotate: 180deg;
     border: 2px solid;
}
/*Load*/
.load{
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.ring {
    width: 200px;
    height: 200px;
    border: 0px solid #fff;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: #390c74;
    animation: rotate 2s linear infinite;
}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color: #8e2de2;
    animation: rotate2 2s linear infinite;
}
.ring:nth-child(3){
    border-top-width: 8px;
    border-color: #4a00e0;
    animation: rotate3 2s linear infinite;
}
.amicao10 {
    color: #000;
}
@keyframes rotate{
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate2{
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate3{
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
